<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/dfe0709c53.js" crossorigin="anonymous">
    </script>
</head>

<body>
    
    {% include 'blog/navbar.html' %}

    <div class="container my-3">
        <div class="row"
            <div class="col-12" id="main-area">
            {% block main_area %}
            {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>